.drunk-weather {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding-right: 0;

  @include media-breakpoint-down(md) {
    position: relative;
    padding-right: 15px;
    bottom: auto;
    right: auto;;
  }
}

.current-weather {

  @include BoxShadow(24);

  position: relative;
  float: right;
  border-top-left-radius: 3px;
  padding: 15px 45px 15px 30px;
  height: auto;
  transition: all .25s ease-in-out;
  background-color: $mint;
  z-index: 199;

  &:hover {
    @include BoxShadow(12);
  }

  @include media-breakpoint-down(md) {
    float: none;
    padding: 15px;
  }

  >img {
    position: relative;
    margin-right: 5px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  div.media-body {
    margin-left: 15px;
  }

  &-data {
    display: block;
    color: $white;
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }

    li {
      font-family: $font-main;
      line-height: 1.2;
      margin-bottom: 2px;

      span {
        display: inline-block;
      }

      &.weather-desc {
        margin-top: 7px;
        margin-bottom: 5px;

        span {
          display: block;
          letter-spacing: 1.2px;
          font-size: 1.8rem;
        }
      }

      &.minmax {
        display: inline-block;
        margin-bottom: 5px;

        span {
          font-size: 1.2rem;

          &.unit {
            margin-right: 7px;
          }
        }
      }

      &.wind {
        margin-bottom: 5px;

        span {
          font-size: 1.2rem;

          &.unit {
            margin-right: 7px;
          }
        }

        img.icon-wind {
          display: inline-block;
          width: 20px;
          height: auto;
          margin-left: 7px;
        }
      }

    }
  }

  // >span.label {
  //   position: absolute;
  //   left: -70px;
  //   top: 64px;
  //   transform-origin: bottom;
  //   transform: rotate(-90deg);
  //   white-space: nowrap;
  //   font-size: 1rem;
  //   color: $white;
  //   font-family: $font-main;
  //   text-align: left;
  // }
}

.current-weather-data li.weather-desc span.last {
  margin-right: 0;
}


[data-aos^="fade"][data-aos^="fade"].aos-animate.aos-animate-custom {
  transition: all .25s ease-in-out;
}
