.current-weather {
  position: relative;
  float: right;
  border-radius: 3px;
  padding: 30px;
  opacity: .8;

  &::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  @include BoxShadow(24);
  border-radius: 3px;
  background-color: $yellow;
  transition: all .25s ease-in-out;

  &:hover {
    @include BoxShadow(12);
  }

  @include media-breakpoint-down(md) {
    float: none;
  }

  >img {
    position: relative;
    margin-right: 30px;
  }

  &-data {
    display: block;
    color: $white;

    @include media-breakpoint-down(md) {
      text-align: right;
    }

    li {
      font-family: $font-main;
      line-height: 1.2;
      margin-bottom: 2px;

      span {
        display: inline-block;
        margin-right: 10px;
      }

      &.weather-desc {
        margin-top: 7px;
        margin-bottom: 5px;

        span {
          letter-spacing: 1.2px;
          font-size: 1.8rem;
        }
      }

      &.minmax {
        display: inline-block;
        margin-bottom: 5px;

        span {
          font-size: 1.2rem;
        }

        span.last {
          margin-right: 0;
        }
      }

      &.wind {
        margin-bottom: 5px;

        span {
          font-size: 1.2rem;
        }

        img.icon-wind {
          display: inline-block;
          width: 20px;
          height: auto;
        }
      }

    }
  }

  >span.label {
    position: absolute;
    bottom: 100%;
    right: 7px;
    font-size: 1rem;
    color: $white;
    font-family: $font-main;
  }
}

.current-weather-data li.weather-desc span.last {
  margin-right: 0;
}


[data-aos^="fade"][data-aos^="fade"].aos-animate.aos-animate-custom {
  opacity: .95 !important;
  transition: all .25s ease-in-out;

  &:hover {
    opacity: .90;
  }
}


// EXPERIMENTAL

