// Animations


// ANIMATION END


// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

/*=======================================================
  # Colors
=======================================================*/

$white: #f8f4ea;
$black: #1d1d1d;
$grey:  #f6f6f8;

$yellow: #ffb142;
$yellow-light: #ffda79;
$orange: #cd6133;

$pink: #ee7879;
$pink-light: #f4abaa;

$purple-dark: #2c2c54;
$purple-medium: #40407a;

$red-neon: #ff5252;
$red: #b33939;

$mint: #cae7df;
$green-light: #33d9b2;
$green: #218c74;

$blue-light: #34ace0;
$blue-dark: #227093;

$color-main: $black;
