// Animations


// ANIMATION END


// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

/*=======================================================
  # Colors
=======================================================*/

$white: #fff;
$black: #1d1d1d;
$silver: #f1f1f1;
$greydark: #252525;

$color-main: $greydark;
