// Animations


// ANIMATION END


// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

/*=======================================================
  # Colors
=======================================================*/

$white: #f2f2f2;
$black: #1d1d1d;
$grey:  #f6f6f8;
$yellow: #fdd935;
$yellow-dark: #e6c019;
$pink: #ee7879;
$pink-light: #f4abaa;
$purple: #2a3166;
$mint: #cae7df;

$color-main: $black;
