.header-menu-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  //background-color: rgba($white, .2);
  z-index: 1999;

  &.is-home {
    color: $white;

    a {
      color: $white;

      &:focus,
      &:active,
      &:hover {
        color: $white;
      }
    }
  }

  &.is-other {
    color: $black;
    background-color: $white;

    a {
      color: $black;

      &:focus,
      &:active,
      &:hover {
        color: $black;
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
    z-index: -1;
  }
}

#nav-main {
  width: 100%;

  &.is-home {
    border-bottom: 5px solid rgba($white, 1);
  }

  &.is-other {
    border-bottom: 5px solid rgba($black, 1);
  }

  .nav-main-links {

    >a {
      position: relative;
      display: inline-flex;
      // color: $white;

      &:hover {
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }

      @include media-breakpoint-up(md) {
        &::before {
          position: absolute;
          top: 100%;
          left: 50%;
          color: transparent;
          content: '•';
          text-shadow: 0 0 transparent;
          font-size: 10px;
          transition: text-shadow 0.3s;
          transform: translateX(-50%);
          pointer-events: none;
        }

        &:hover::before,
        &:focus::before {
          color: $white;
          text-shadow: 10px 0 $white, -10px 0 $white;
        }
      }
    }
  }
}


// HEADER LOGOS

.header-logo-desktop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 199;

  >.main-logo {
    font-weight: bold;
    text-align: center;
    //  color: $white;

    span {
      font-size: 15px;
      line-height: 1.2;
      display: block;
      letter-spacing: 2px;

      &:nth-child(2) {
        font-size: 13px;
      }
    }
  }
}

.header-logo-mobile {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 199;

  >.main-logo {
    font-size: 13px;
    font-weight: bold;
    color: $white;

    span {
      line-height: 1.25;
      display: block;
      letter-spacing: 2px;

      &:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

// MOBILE NAV

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 8;

.header-menu-mobile {

  @include media-breakpoint-up(lg) {
    display: none;
  }

  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background: $mint;
  overflow: hidden;
  transition: all .3s ease-in-out;
  transition-delay: .2s;
  z-index: 2999;

  .ziploc {
    float: right;
    position: relative;
    height: 65px;
    width: 50px;
    z-index: 100;

    #sandwich {
      width: 25px;
      position: relative;
      display: block;
      margin: -5px auto 0;
      top: 50%;

      .butter {
        width: 100%;
        height: 1px;
        display: block;
        position: relative;
        background: $white;
        transition: all 0.3s $cubic;
        transition-delay: 0s;

        &.top {
          transform: translateY(0px) rotate(0deg);
        }

        &.bottom {
          transform: translateY(6px) rotate(0deg);
          width: 75%;
          float: right;
        }
      }
    }
  }

  ul.menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    padding: 0 20px 0;
    list-style: none;
    text-align: right;

    li.menu-item {
      margin-top: 5px;
      margin-bottom: 5px;
      transform: scale(1.05) translateY(-30px);
      opacity: 0;
      transition: all 0.2s $cubic;

      @for $i from 1 through $menuItems {
        &:nth-child(#{$i}) {
          transition-delay: #{0.1 - ($i * 0.05)}s;
        }
      }

      a {
        display: block;
        position: relative;
        color: $white;
        font-weight: 600;
        text-decoration: none;
        font-size: 24px;
        line-height: 2;
        letter-spacing: 1.5px;
        width: 100%;
      }
    }
  }

  &.menu-opened {
    height: 100%;
    background-color: $mint;
    transition: all 0.3s ease-in-out;

    .ziploc {
      transform: rotate(90deg);

      #sandwich {
        .butter {
          transition: all 0.3s $cubic;

          &.top {
            transform: translateY(4px) rotate(45deg);
          }

          &.bottom {
            transform: translateY(3px) rotate(-45deg);
            width: 100%;
          }
        }
      }
    }

    ul.menu {
      li.menu-item {
        transform: scale(1) translateY(0px);
        opacity: 1;

        @for $i from 1 through $menuItems {
          &:nth-child(#{$i}) {
            transition-delay: #{0.05 * $i+0.2}s;
          }
        }
      }
    }
  }
}
