// FRONT PAGE

.fullpage-cover {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 700px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background: -webkit-linear-gradient(to top right, $yellow-light, $pink-light);
    // background: linear-gradient(to top right, $yellow-light, $pink-light);
    background-color: $yellow;
    opacity: .9;
  }

  @include media-breakpoint-down(md) {
    padding-top: 80px;
    padding-bottom: 75px;
    height: auto;
  }
}

.fullpage-text {

  &-wrapper {
    height: 100vh;
    min-height: 100%;
  }

  &-content {
    width: 100%;

    >h1 {
      display: block;
      margin-bottom: 30px;
      color: $white;

      span {
        //display: block;
      }
    }

    p {
      max-width: 80%;
      color: $white;
    }

    &::after {
      content: '';
      display: block;
      margin-top: 45px;
      height: 6px;
      width: 250px;
      background-color: $white;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 45px;
    }
  }
}


// BLOG PAGE
