// ARCHIVE PAGE

.archive-row {
  margin-top: 75px;
}

.card {
  position: relative;

  &-obj {
    height: auto;
    width: 100%;
    background-color: $white;
    margin-bottom: 45px;
  }

  &-thumb {
    height: 300px;
    width: 100%;
    background-color: $grey;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    overflow: hidden;
  }

  &-text {
    padding-left: 2px;
    margin-top: 15px;

    a>h2 {
      margin-bottom: 0;
    }
  }

  &-posted {
    position: relative;

    img {
      width: 15px;
    }

    time {
      font-size: 10px;
    }
  }
}



// SINGLE POST PAGE

.page-container.post-singel {
  padding-bottom: 60px;
}

.post-singel {

  &-hero {
    height: 500px;
    border-radius: 3px;
    background-size: cover;
    margin-bottom: 45px;
    overflow: hidden;
  }

  &-title {
    display: block;
    margin-bottom: 30px;
  }

  time {
    font-size: 13px;
    font-family: $source;
    letter-spacing: 1.5px;
    font-weight: 700;
  }

  &-ingress {
    padding-bottom: 45px;

    p {
      font-size: 1.2rem;
      line-height: 1.7;
      font-family: $font-head;

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        line-height: 1.6;
        letter-spacing: .5px;
      }
    }

    &-divider {
      max-width: 420px;
      height: 5px;
      margin: 45px auto 0;
      background-color: $yellow-light;
    }
  }

  &-content p {
    font-family: $source;
    margin-bottom: 30px;
  }
}
